
#heading{
    padding-top: 20px;
}

  .mybtnA{
    background-color:rgb(174, 169, 169); 
    color:black;
    padding: 8px 0px;
    border: 2px solid black;
    border-radius: 5px;
  }
  .mybtnA:hover {
    border-bottom: 5px solid #3e3d3f;
    background-color: rgb(220, 215, 215);
 } 

  .mybtnS{
    background-color:rgb(174, 169, 169); 
    color:black;
    padding: 8px 0px;
    border: 2px solid black;
    border-radius: 5px;
  }
  .mybtnS:hover {
    border-bottom: 5px solid #3e3d3f;
    background-color: rgb(220, 215, 215);
 } 

  .mybtnM{
    background-color:rgb(174, 169, 169); 
    color:black;
    padding: 8px 0px;
    border: 2px solid black;
    border-radius: 5px;
  }
  .mybtnM:hover {
    border-bottom: 5px solid #3e3d3f;
    background-color: rgb(220, 215, 215);
 } 

  .mybtnD{
    background-color:rgb(174, 169, 169); 
    color:black;
    padding: 8px 0px;
    border: 2px solid black;
    border-radius: 5px;
  }
  .mybtnD:hover {
    border-bottom: 5px solid #3e3d3f;
    background-color: rgb(220, 215, 215);
 } 